@page "/fdry"

<PageTitle>Teacup418 Foundry VTT</PageTitle>

<h1>Foundry VTT</h1>

<p>We are trying to host a Foundry VTT server. Hope we can get it working.</p>

<a class="btn btn-primary" href="https://teacup418.dev/foundry">Launch</a>

@code {
}