@page "/"

<PageTitle>Teacup418 Project Site</PageTitle>

<h1>Welcome to Teacup418</h1>

<p>The low effort website for me to list my projects and keep my links.</p>

<h2>What's with the name?</h2>

<p>Teacup was a workplace nickname given to me because of my tea collection and amount of tea I drank. 
    418 is the HTTP joke code for "I am a teapot." I thought it was a fun name for a project site.</p>

<h2>What's this place for?</h2>

<p>I'm just using it to list URLs for various servers/projects hosted on some old hardware for myself and my friends. I'll likely provide some basic documentation where it makes sense.</p>

<p>Look in the menu for the current list of things that are being hosted.</p>

<h2>The service stack seems a little heavy for that...</h2>

<p>I figured it will let me customize whatever I wanted in code if I want. I can put in little bits of code however I see fit.</p>