@page "/mattermost"

<PageTitle>Teacup418 - Mattermost Server</PageTitle>

<h1>Mattermost</h1>

<p>This is a chat server that I'm testing out as a potential alternative to our free-tier Slack server.</p>

<p>It hasn't caught on yet.</p>

<a class="btn btn-primary" href="https://mattermost.teacup418.dev/">Launch</a>

@code {

}